# PostgreSQL
POSTGRES_PASSWORD=ibanmanager
POSTGRES_USER=ibanmanager
DATABASE_URL=ibanmanager_postgres:///ibanmanager

# General settings
DJANGO_ADMIN_URL=
DJANGO_SETTINGS_MODULE=config.settings.local
DJANGO_SECRET_KEY=ivp12n@_n)&7qre))y-0c72z4pnljb8ma6%28*yg6+axrg#6%i
DJANGO_ALLOWED_HOSTS=.ibanmanager.com

# AWS Settings
DJANGO_AWS_ACCESS_KEY_ID=
DJANGO_AWS_SECRET_ACCESS_KEY=
DJANGO_AWS_STORAGE_BUCKET_NAME=

# Used with email
DJANGO_MAILGUN_API_KEY=
DJANGO_SERVER_EMAIL=

# Security! Better to use DNS for this task, but you can use redirect
DJANGO_SECURE_SSL_REDIRECT=False


CELERY_BROKER_URL=amqp://ibanmanager:ibanmanager@ibanmanager_rabbit:5672//

SOCIAL_AUTH_GOOGLE_OAUTH2_KEY=
SOCIAL_AUTH_GOOGLE_OAUTH2_SECRET=