<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

  <p>Ha recibido este correo electrónico debido a que ha solicitado cambiar la contraseña de su cuenta {{ site_name }}.</p>

  <p>Por favor, cambie su contraseña en el siguiente enlace:</p>

  <p><a href="http://0.0.0.0:8000/api/v1/users/password/new/{{ token }}/">http://0.0.0.0:8000/api/v1/users/password/new/{{ token }}/</a></p>

  <p>Usuario: {{ username }} </p>

  <p>¡Gracias por usar nuestro sitio!</p>

</head>
<body>

</body>
</html>
